<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScpiTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScpiTest.Properties.Settings>
            <setting name="DefaultParseSTd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MruTargets" serializeAs="String">
                <value>127.0.0.1;127.0.02;127.0.03</value>
            </setting>
            <setting name="MruFileNames" serializeAs="String">
                <value>G:\scp\SCPI_Scripts\Stream replication Setup.txt;G:\scp\SCPI_Scripts\Stream replication Setup_noqolon.txt</value>
            </setting>
        </ScpiTest.Properties.Settings>
    </userSettings>
</configuration>